$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.form-control-original {
  @extend .form-control;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Lato', sans-serif;
}
.header {
  background: transparent url("../images/banners/banner_home.jpg") no-repeat 50% 0;
  min-height: 725px;
}
.header__title {
  margin: 30px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .header__title {
    text-align: left;
  }
}
.header__title-link {
  background: transparent url("../images/logos/petdrive.png") no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  height: 55px;
  overflow: hidden;
  text-indent: -500px;
  width: 135px;
}
.navigation {
  display: block;
  text-align: right;
  width: 100%;
}
.navigation__link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  margin: 53px 0 0 36px;
  vertical-align: middle;
  &:hover {
    color: #fff;
  }
}
.header__intro {
  color: #fff;
  display: block;
  font-size: 42px;
  font-weight: 300;
  margin-top: 44px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}
.header__intro--destaque {
  color: #95ff21;
}

.button, .button:active {
  background-image: linear-gradient(to bottom, #80d325 0%,#60a316 100%);
  border-radius: 35px;
  box-shadow: 0 5px 25px -7px #000;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 62px;
  line-height: 60px;
  padding: 0 58px;
  &:hover {
    background-image: linear-gradient(to bottom, darken(#80d325, 2%) 0%,darken(#60a316, 2%) 100%);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
}
.button--header,
.button--header:active {
  font-size: 20px;
  margin-top: 134px;
}
.btn-menu {
  border-right: 2px solid #fff;
  display: block;
  height: 30px;
  right: 27px;
  position: absolute;
  transform: rotate(90deg);
  top: 20px;
  width: 20px;
  z-index: 5;
  &::before {
    border: 2px solid #fff;
    border-width: 0 2px 0;
    height: 30px;
    content: " ";
    display: block;
    width: 11px;
  }
}
.menu-mobile {
  background-color: rgba(0, 0, 0, .9);
  height: 100%;
  left: 0;
  position: fixed;
  transform: translate(-100%, 0);
  transition: all .2s;
  top: 0;
  width: 80%;
  z-index: 1;
 .close-menu {
    color: rgba(255, 255, 255, .5);
    font: 400 20px Arial, Helvetica, sans-serif;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
  }
  .navigation {
    text-align: center;
  }
  .navigation__link {
    display: block;
    margin: 60px 0 0 0;
    padding: 0;
  }
}
.--show-menu {
  .menu-mobile {
    transform: translate(0, 0);
  }
  .main-content {
    filter: blur(3px);
  }
  .btn-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .btn-menu { display: none; }
  .header__intro {
    margin-top: 184px;
  }
  .button--header,
  .button--header:active {
    font-size: 24px;
    margin-top: 170px;
  }
}

.footer {
  background: #14152d url("../images/backgrounds/footer.png") no-repeat 50% 0/cover;
  min-height: 384px;
}

.contato {
  background: transparent url("../images/icons/email.png") no-repeat 50% 0;
  background-size: 45px 45px;
  color: #fff;
  margin-top: 45px;
  padding: 70px 0 0 0;
  text-align: center;
}
.contato__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
  padding: 0;
}
.contato__email {
  font-weight: 400;
  font-size: 16px;
}
.footer {
  .social {
    display: block;
    margin-top: 106px;;
    text-align: center;
    width: 100%;
  }
  .social__link {
    background-size: contain;
    display: inline-block;
    height: 44px;
    margin-left: 36px;
    overflow: hidden;
    outline: none;
    text-indent: 1000px;
    width: 44px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      opacity: .7;
    }
  }
  .social__link--facebook {
    background: transparent url("../images/icons/facebook.png") no-repeat 0 0;
  }
  .social__link--linkedin {
    background: transparent url("../images/icons/linkedin.png") no-repeat 0 0;
  }
  .social__link--instagram {
    background: transparent url("../images/icons/instagram.png") no-repeat 0 0;
  }
}
.inner-footer {
  color: #7c93ad;
  margin-top: 86px;
  text-align: center;
}
.links {
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 992px) {
  .footer {
    background-position: 50% 0;
    background-size: auto;
  }
  .contato {
    background-position: 0 50%;
    margin-top: 135px;
    padding: 0 0 0 70px;
    text-align: left;
  }
  .links {
    text-align: right;
  }
  .footer {
    .social {
      margin-top: 136px;
      text-align: right;
    }
    .social__link {
      margin-left: 36px;
      &:first-child {
        margin-left: 36px;
      }
    }
  }
  .inner-footer {
    margin-top: 146px;
    text-align: left;
  }
}
.links__item {
  display: inline-block;
  & + &::before {
    content: ".";
    margin: 0 10px;
  }
}
.link {
  color: #7c93ad;
  &:hover {
    color: lighten(#7c93ad, 12%);
    text-decoration: none;
  }
}
.recursos {
  background-image: linear-gradient(to bottom, #edf2ff 0%,#fff 100%);
  padding-top: 102px;
}
.recursos__title {
  color: #20236a;
  font-size: 30px;
  margin-bottom: 122px;
  text-align: center;
  width: 100%;
}
// .recursos__lista {
//   margin-top: 122px;
// }
.recurso {
  color: #58627c;
  margin-bottom: 50px;
  text-align: center;
}
.recursos__lista {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .recursos__lista .recurso:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .recursos__lista .recurso:nth-child(4n+1) {
    clear: both;
  }
}
.recurso__name {
  font-size: 18px;
  font-weight: 700;
}
.recurso__desc {
  line-height: 20px;
}

.vendas {
  background: transparent url("../images/backgrounds/vendas.png") no-repeat 0 0;
  padding: 40px 0;
  position: relative;
  z-index: 2;
}
.vendas__title {
  color: #20236a;
  font-size: 38px;
  text-align: center;
}
.vendas__desc {
  color: #163445;
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 76px;
  text-align: center;
}
.button--vendas,
.button--vendas:active {
  display: block;
  font-size: 20px;
  height: 52px;
  line-height: 50px;
  margin: 70px auto 0;
  padding: 0 40px;
  width: 245px;
}
@media (min-width: 768px) {
  .vendas {
    background-position: 50% 0;
    background-size: 140%;
    padding: 40px 0 214px 0;
  }
  .vendas__title {
    font-size: 48px;
    text-align: left;
  }
  .vendas__desc {
    text-align: left;
    width: 50%;
  }
  .button--vendas,
  .button--vendas:active {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .vendas {
    background-size: auto;
  }
  .vendas__desc {
    width: 100%;
  }
}
.fale-com {
  background: rgba(27,158,228,1);
  background: linear-gradient(100deg, rgba(27,158,228,1) 0%, rgba(87,41,95,1) 100%);
  // height: 614px;
  // margin-top: -100px;
  position: relative;
}
.fale-com__content {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}
.fale-com__title {
  color: #fff;
  font-size: 48px;
  line-height: 52px;
  margin: 0;
}
.fale-com__title--bold {
  color: #86ff00;
}
.fale-com__desc {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  margin: 80px 0 0 0;
}
.fale-com__desc--bold { font-weight: 700;}
.button--fale-com,
.button--fale-com:active {
  box-shadow: none;
  font-size: 20px;
  height: 50px;
  line-height: 46px;
  margin-top: 108px;
  padding: 0 48px;
}

@media (min-width: 768px) {
  .fale-com {
    height: 614px;
    margin-top: -100px;
  }
  .fale-com__content {
    float: right;
    margin-top: 140px;
    text-align: right;
    width: 500px;
  }
  .fale-com--bg-holder {
    background: transparent url("../images/backgrounds/dog.png") no-repeat 50% 50%;
    height: 706px;
    position: relative;
    top: -40px;
  }
}

/** passos **/

.passos {
  margin-top: 140px;
  padding-bottom: 128px;
}
.passos__title {
  color: #20236a;
  font-size: 40px;
  margin-bottom: 138px;
  text-align: center;
}
.passos__item {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
.passos__item-count {
  background-color: #4d6ed2;
  border-radius: 50%;
  clear: both;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  margin-bottom: 14px;
  margin-left: -2px;
  text-align: center;
  width: 60px;
}
.dot {
  border-radius: 5px;
  content: " ";
  display: block;
  height: 10px;
  position: absolute;
  right: -6px;
  width: 10px;
}
.passos__item-content {
  position: relative;
  width: 100%;
  &::after {
    display: none;
    @extend .dot;
    bottom: 0;
  }
  &::before {
    display: none;
    @extend .dot;
    top: 0;
  }
}
.button--passos,
.button--passos:active {
  padding: 11px 36px;
  font-size: 16px;
  height: 36px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .passos__item {
    margin-bottom: 14px;
  }
  .passos__item-content {
    width: 50%;
    &::before,
    &::after {
      display: block;
    }
  }
  .passos__item-content--left {
    border-right: 2px solid #d7d7d9;
    padding: 40px 116px 30px 0;
    text-align: right;
  }
  .passos__item-content--right {
    border-left: 2px solid #d7d7d9;
    margin-left: 49.99999%;
    padding: 40px 0 30px 116px;
    text-align: left;
    &::before,
    &::after {
      left: -6px;
      right: auto;
    }
  }
}
.passos__item-title {
  color: #20236a;
  font-size: 32px;
  margin: 0 0 38px 0;
}
.passos__item-desc {
  color: #626262;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 42px;
}

$cor-1: #4d6ed2;
$cor-2: #d39d08;
$cor-3: #a529a0;
$cor-4: #29a540;


.passos__item--1 {
  .passos__item-count { background-color: $cor-1;}
  .passos__item-content { @extend .passos__item-content--left; }
  .passos__item-content::before { background-color: $cor-1; }
  .passos__item-content::after { background-color: $cor-2; }
}
.passos__item--2 {
  .passos__item-count { background-color: $cor-2;}
  .passos__item-content { @extend .passos__item-content--right; }
  .passos__item-content::before { background-color: $cor-2; }
  .passos__item-content::after { background-color: $cor-3; }
}
.passos__item--3 {
  .passos__item-count { background-color: $cor-3;}
  .passos__item-content { @extend .passos__item-content--left; }
  .passos__item-content::before { background-color: $cor-3; }
  .passos__item-content::after { background-color: $cor-4; }
}
.passos__item--4 {
  .passos__item-count { background-color: $cor-4;}
  .passos__item-content { @extend .passos__item-content--right; }
  .passos__item-content::before { background-color: $cor-4; }
  .passos__item-content::after { background-color: $cor-3; }
}

@media (min-width: 768px) {
  .passos__item--1 {
    background: transparent url('../images/backgrounds/passo-1.png') no-repeat 100% 70px;
  }
  .passos__item--2 {
    background: transparent url('../images/backgrounds/passo-2.png') no-repeat 0 70px;
  }
  .passos__item--3 {
    background: transparent url('../images/backgrounds/passo-3.png') no-repeat 100% 70px;
  }
  .passos__item--4 {
    background: transparent url('../images/backgrounds/passo-4.png') no-repeat 0 70px;
  }
  .passos__item {
    background-size: 50%;
    background-position-y: 50%;
  }
}
@media (min-width: 992px) {
  .passos__item {
    background-size: contain;
    background-position-y: 70px;
  }

}

.secao-cadastro {
  background: #edf1fb url('../images/backgrounds/bg-cadastro.png') no-repeat 50% 0;
  min-height: 800px;
}
.header--cadastro {
  .header__title {
    height: 62px;
    margin: 50px auto;
    width: 200px;
  }
  .header__title-link {
    background: transparent url('../images/logos/petdrive-2.png') no-repeat 0 0;
    background-size: cover;
    height: 100%;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    text-indent: -5000px;
    width: 100%;
  }
  .header__intro {
    color: #58627c;
    font-weight: 300;
    font-size: 36px;
    text-shadow: none;
  }
  .header--destaque {
    color: #3375c4;
    font-weight: 700;
  }
}
@media (min-width: 992px) {
  .header--cadastro {
    .header__title {
      height: 94px;
      margin: 125px auto 110px;
      width: 303px;
    }
  }
}
.planos {
  display: block;
  width: 100%;
  .plano {
    background-color: #fff;
    border: 1px solid #e8edfa;
    border-radius: 6px;
    margin-top: 50px;
    padding: 24px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
    &:nth-child(2n) {
      box-shadow: 0 0 5px 6px rgba(237, 241, 251, 0.4);
      margin-left: -4px;
      margin-right: -4px;
      padding-bottom: 60px;
      z-index: 1;
      &::before {
        background: transparent url('../images/backgrounds/bg-plano-premium.png') no-repeat 100% 0;
        content: "";
        display: block;
        height: 51px;
        position: absolute;
        right: 0;
        top: -2px;
        width: 51px;
        z-index: 2;
      }
      & .plano__valor {
        font-size: 100px;
      }
      & .plano__button {
        background: transparent url('../images/buttons/btn-tutorial-2.png') no-repeat 0 0;
        color: #fff;
        height: 60px;
        line-height: 60px;
        padding: 0 30px;
        width: 232px;
      }
    }
    &__nome {
      color: #58627c;
      display: block;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
    &__valor {
      color: #4a90e2;
      display: block;
      font-weight: 700;
      font-size: 68px;
      line-height: 50px;
      margin-top: 0;
      &::before,
      &::after {
        content: "R$";
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        vertical-align: top;
      }
      &::after {
        content: ",00";
      }
    }
    &__info {
      border: 1px solid #ccd7f3;
      border-width: 1px 0;
      color: #4a90e2;
      font-size: 14px;
      letter-spacing: 0.02em;
      margin-top: 35px;
      padding: 8px 0;
      text-align: center;
      width: 100%;
    }
    &__desc {
      color: #616161;
      font-size: 14px;
      line-height: 28px;
      margin-top: 40px;
      padding: 0 12%;
      text-align: center;
    }
    &__button,
    &__button:hover,
    &__button:active {
      background: transparent url('../images/buttons/btn-tutorial.png') no-repeat 0 0;
      color: #4a90e2;
      cursor: pointer;
      display: block;
      font-size: 18px;
      height: 52px;
      line-height: 52px;
      margin: 40px auto 0;
      padding: 0 24px;
      text-align: left;
      text-decoration: none;
      width: 211px;
    }
  }
}
@media (min-width: 860px) {
  .planos {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    .plano {
      margin-top: 126px;
      padding: 38px 24px;
      text-align: center;
      vertical-align: middle;
      width: 366px;
      &__nome {
        display: block;
        font-size: 16px;
        text-align: center;
        width: 100%;
      }
      &__valor {
        display: inline-block;
        font-size: 68px;
        line-height: 50px;
        margin-top: 40px;
      }
      &__info {
        text-align: justify;
      }
    }
  }
}

.cadastro {
  &__title {
    color: #3375c4;
    font-size: 36px;
    font-weight: 300;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    &--bold {
      font-weight: 700;
    }
  }
  &__form {
    margin-top: 100px;
    .row {
      margin-left: -4px;
      margin-right: -4px;
    }
    [class*="col-"] {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  &__button,
  &__button:active {
    background: transparent url('../images/buttons/btn-cadastrar.png') no-repeat 0 0;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    height: 61px;
    margin: 40px 0 60px 0;
    outline: none;
    padding-left: 33px;
    text-align: left;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 197px;
    &:hover {
      opacity: .96;
    }
  }
  .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .17);
    border-radius: 1px;
    height: 44px;
    // box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  }

/** select styled **/
  .select-stylized {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .17);
    border-radius: 1px;
    cursor: pointer;
    height: 44px;
    position: relative;
    &::after {
      border: 1px solid #666f87;
      border-width: 1px 0 0 1px;
      content: " ";
      display: block;
      height: 9px;
      position: absolute;
      right: 15px;
      transform: rotate(-135deg);
      top: 15px;
      width: 9px;
      z-index: 2;
    }
    .form-control {
      position: relative;
      opacity: 0;
      z-index: 2;
    }
    .selected {
      @extend .form-control;
      display: block;
      height: 44px;
      left: 0;
      line-height: 32px;
      opacity: 1;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  }
/**/
  .has-error .form-control,
  .has-error .selected {
    border-bottom-color: red;
  }
}

.modal__close {
  background: transparent url("../images/buttons/close.png") no-repeat 0 0;
  cursor: pointer;
  display: block;
  height: 18px;
  position: absolute;
  outline: none;
  overflow: hidden;
  right: 0;
  text-indent: -5000px;
  top: -40px;
  width: 19px;
}
.modal-backdrop.in {
  opacity: .8;
}

.modal__content { text-align: center;}

.embed-responsive {
  border-radius: 6px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.button--modal {
  margin-top: 38px;
  font-size: 20px;
}
.modal__caption {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 300;
  opacity: .9;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .button--modal {
    font-size: 24px;
  }
  .modal-dialog {
    margin-top: 80px;
  }
}

.secao-login {
  background-image: linear-gradient( to right, #e8edfa, #f5f7fd);
  width: 100%;
  .main-content {
    background: transparent url("../images/login/bg.png") no-repeat 50% 44px;
    height: 100%;
    width: 100%;
  }
  .logotipo {
    display: block;
    margin: 36px auto 0;
    height: 54px;
    width: 173px;
  }
  .logotipo__link {
    background: transparent url("../images/login/petdrive.png") no-repeat 0 0;
    display: block;
    height: 100%;
    outline: none;
    overflow: hidden;
    text-indent: -5000px;
    width: 100%;
  }
  .social {
    font-size: 0;
    margin: 36px auto 0;
    width: 133px;
  }
  .social__link {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 36px;
    margin-left: 12px;
    overflow: hidden;
    outline: none;
    text-indent: -5000px;
    width: 36px;
    &--facebook {
      background-image: url("../images/login/facebook.png");
    }
    &--instagram {
      background-image: url("../images/login/instagram.png");
    }
    &--linkedin {
      background-image: url("../images/login/linkedin.png");
    }
  }
  & .social__link:first-child {
    margin-left: 0;
  }
  .l-body__container {
    background-image: linear-gradient(to right, #f6f8fc, #f7f9fc);
    border-radius: 10px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .5);
    margin-top: 36px;
    overflow: hidden;
    width: 100%;
  }
  .l-body__bg-holder {
    min-height: 360px;
  }
  .l-body__title {
    color: #59637d;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    &--bold {
      color: #3375c4;
      font-weight: 700;
    }
  }
  .l-form .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .17);
    border-radius: 1px;
    height: 44px;
    text-align: center;
  }
  .l-form .form-group {
    margin-bottom: 2px;
  }
  .has-error .form-control,
  .has-error .selected {
    border-bottom-color: red;
  }
  .button--login {
    box-shadow: none;
    height: 44px;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  }
  .l-form__buttons {
    margin-top: 40px;
    text-align: center;
  }
  .l-form__link {
    color: #848689;
    cursor: pointer;
    display: block;
    line-height: 18px;
    margin-top: 14px;
  }
  .l-footer {
    height: 100px;
  }
  .copyright,
  .links {
    color: #64707f;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .forgot {
    display: none;
  }
  .l-box {
    overflow: hidden;
    &--forgot {
      .login {display: none;}
      .forgot {display: block;}
      .form-group {
        margin: 10px 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .secao-login {
    .logotipo {
      margin: 62px 0 0;
    }
    .l-body__title {
      margin: 40px 0 40px 0;
    }
    .social{
      float: right;
      margin: 76px 0 0;
    }
    .l-body__container {
      margin-top: 72px;
    }
    .l-body__bg-holder {
      background: transparent url("../images/login/foto.png") no-repeat 0 0/50% auto;
    }
    .l-form__buttons {
      text-align: inherit;
    }
    .l-form__link {
      float: right;
    }
    .copyright,
    .links {
      margin-top: 40px;
      text-align: left;
    }
    .l.box--forgot {
      .form-group {
        margin: 22px 0;
      }
    }
    .links { text-align: right;}
  }
}
.politicas-termos {
  color: #848689;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

@media (min-width: 768px) {
  .politicas-termos {
    margin-top: 40px;
  }
}